{{- if and (not (eq .Params.single true)) (or .PrevInSection .NextInSection) -}}
<section class="article navigation">
  <div class="header wrap">
    {{- with .NextInSection -}}
      {{- $title := .Title | safeHTML -}}
      {{- if $title -}}<a class="link header left-side" href="{{- .RelPermalink -}}"><span class="iconfont icon-article"></span>{{- $title -}}</a>{{- end -}}
    {{- end -}}

      {{- with .PrevInSection -}}
      {{- $title := .Title | safeHTML -}}
      {{- if $title -}}<a class="link header right-side" href="{{- .RelPermalink -}}">{{- .Title | safeHTML -}}<span class="iconfont icon-article"></span></a>{{- end -}}
      {{- end -}}
    </div>
</section>
{{- end -}}