<section id="subscribe">
    <div id="subscribe">
        <h3>Use the form bellow to subscribe to our newsletter!</h3>
    <form id="subscribe">
        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="email" placeholder="Your Email">
        <br>
        <input type="submit" value="Register">
    </form>
    </div>
    <div id="subscribe-success" style="display:none; margin-left: 40% !important;">
        <h3>Subscribed successfully!</h3>
    </div>
</section>